@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scaleIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(300%);
  }
  100% {
    transform: translateY(0);
  }
}
[modal-toggle] {
  position: fixed;
  left: -9999px;
  top: -9999px;
}

[modal-overlay] {
  opacity: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}

@media (min-width: 768px) {
  [modal-toggle]:checked ~ [modal-overlay] {
    pointer-events: all;
    animation-name: fadeIn;
    animation-delay: 100ms;
    animation-duration: 250ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 5001;
  }
}
[modal] {
  opacity: 0;
  position: fixed;
  top: -9999px;
  left: 0;
  width: 100%;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  pointer-events: none;
  z-index: 5500;
}

[modal-toggle]:checked + [modal] {
  top: 0;
  opacity: inherit;
  animation-name: scaleIn;
  animation-delay: 100ms;
  animation-duration: 550ms;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@media (max-width: 767px) {
  [modal] {
    z-index: 2000;
  }
  [modal-toggle]:checked + [modal] {
    opacity: inherit;
    pointer-events: all;
    animation-name: slideUp;
    animation-duration: 0.65s;
    animation-timing-function: ease-out;
    animation-fill-mode: backwards;
  }
}
[modal~=carbon] {
  display: grid;
  place-items: center;
}

[modal-stage~=carbon] {
  opacity: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  max-width: min(80vw, 1080px);
  overflow: hidden;
  z-index: 6002;
}

[modal-toggle]:checked + [modal] [modal-stage~=carbon] {
  pointer-events: all;
}

[modal-carbon-header] {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-rows: 4rem;
  place-items: center left;
  border-radius: 0;
  background: var(--gradient-cta-primary-blue-to-green);
  background-size: 210% 210%;
  border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}

[modal-carbon-header-text] {
  color: var(--color-bg-white);
  letter-spacing: 0.5px;
  font-weight: var(--font-weight-header);
  font-family: var(--font-family-header);
  font-size: var(--font-size-body-fallback);
  font-size: var(--font-size-body);
}

[modal-carbon-header]::before {
  content: "";
}

[modal-carbon-close] {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  cursor: pointer;
  background-image: url("../../assets/images/icons/close.png"), url("../../assets/images/icons/close--hover.png");
  background-repeat: no-repeat;
  background-size: 0.65rem 0.65rem;
  background-position: center center;
  z-index: 6001;
}
[modal-carbon-close]:hover {
  background-image: url("../../assets/images/icons/close--hover.png");
  color: var(--color-text-dark);
  background-color: var(--color-bg-white);
}

[modal-carbon-body] {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-areas: "figure content";
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  background-color: var(--color-bg-white);
  border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}

[modal-carbon-image] {
  grid-area: figure;
  overscroll-behavior: contain;
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: grid;
  align-items: start;
}

[carbon-image] {
  max-width: 100%;
}

[modal-carbon-content] {
  grid-area: content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 550px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: var(--gradient-silver);
  font-size: var(--font-size-body-fallback);
  font-size: var(--font-size-body);
  padding: 2rem 2.5rem;
  line-height: var(--line-height-body);
  z-index: 0;
}
[modal-carbon-content] a,
[modal-carbon-content] a strong {
  font-weight: var(--font-weight-header);
  color: var(--color-text-link-dark);
  transition: border 0.5s ease-in-out;
  border-bottom: 1px transparent var(--color-text-link-dark);
}
[modal-carbon-content] a:hover {
  border-bottom: 1px solid var(--color-text-link-dark);
}
[modal-carbon-content] strong {
  font-size: inherit;
}

@media (min-width: 768px) and (max-width: 1024px) {
  [modal-carbon-body] {
    grid-template-columns: 1fr 1fr;
    max-height: 450px;
  }
}
@media (max-width: 767px) {
  [modal-stage~=carbon] {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    height: 100svh;
    border-radius: 0;
  }
  [modal-carbon-header] {
    display: grid;
    grid-template-columns: 1rem 1fr 4rem;
    grid-template-rows: 3rem;
    place-items: center left;
    border-radius: unset;
  }
  [modal-carbon-close] {
    top: 0;
    right: 0;
    padding: 0;
    width: 3rem;
    height: 3rem;
    filter: grayscale(10%);
    background-size: 0.75rem 0.75rem;
    border-left: solid 1px rgba(255, 255, 255, 0.18);
    border-radius: 0;
  }
  [modal-carbon-close]:hover {
    background-image: url("../../assets/images/icons/close.png");
    background-color: transparent;
  }
  [modal-carbon-body] {
    grid-template-columns: 1fr;
    grid-template-areas: "figure" "content";
    min-height: 100%;
    max-height: unset;
    overflow-y: auto;
    height: 100vh;
    height: 100svh;
    border-radius: unset;
  }
  [modal-carbon-content] {
    padding: 1rem 1.25rem 10rem 1.25rem;
    max-height: unset;
  }
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-header);
}

h2 {
  font-size: var(--font-size-h2-fallback);
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3-fallback);
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4-fallback);
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size-h5-fallback);
  font-size: var(--font-size-h5);
}

h6 {
  font-size: var(--font-size-h6-fallback);
  font-size: var(--font-size-h6);
}

[style*=font]:not([id^=om-]) {
  all: unset !important;
}

a a {
  display: none;
}

.dolly-in-slow {
  animation: dolly-in-slow 10s ease-out both;
}

.invisible {
  opacity: 0;
}

.hide-off-canvas {
  position: fixed;
  top: -9999px;
}

.hide,
[hide~=all] {
  display: none;
}

[hide~="all!"] {
  display: none !important;
}

@media (max-width: 767px) {
  [hide~=sm] {
    display: none;
  }
  [hide~="sm!"] {
    display: none !important;
  }
}
@media (min-width: 0) {
  [hide~="sm+"] {
    display: none;
  }
  [hide~="sm!+"],
  [hide~="sm+!"] {
    display: none !important;
  }
  [src$="www.nathab.com"] {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  [hide~=md] {
    display: none;
  }
  [hide~="md!"] {
    display: none !important;
  }
}
@media (min-width: 768px) {
  [hide~="md+"] {
    display: none;
  }
  [hide~="md!+"],
  [hide~="md+!"] {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  [hide~=lg],
  [hide~="lg+"] {
    display: none;
  }
  [hide~="lg!"],
  [hide~="lg!+"],
  [hide~="lg+!"] {
    display: none !important;
  }
}
[divider] {
  border-top: 1px solid var(--brand-gray-dark);
}

/*# sourceMappingURL=style.css.map */